@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;
@import 'slick';

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 1px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

.react-icons {
  vertical-align: middle;
}
